body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo span {
  color: #2e2f42;
}

.nav-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: color 0.3s;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.contact-info a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s;
}

.contact-info a:hover,
.contact-info a:focus {
  color: #007acc;
}

button {
  background-color: #4d5ae5;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
}
button:hover {
  background-color: #007acc;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
